/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/*layout style*/
.wsatc-row{
  border-bottom:1px solid #ccc;
}
.wsatc-row::after {
content: "";
clear: both;
display: table;
}
.wsatc-row.input-wrapper{
  display:flex;
  padding-top:10px;
  padding-bottom:10px;
}
.wsatc-label-wrapper{
  max-width:30%;
  width:100%;
  padding: 10px;
  font-size:16px;
}
.wsatc-input{
  max-width:30%;
  width:100%;
  padding: 10px;
}



 /* setting page wrapper*/
 .wsatc-settings-wrapper{
  background-color:#fff;
   display:flex;
}

#wsatc-settings{
  position: relative;
}

/* Style the tab */
.wsatc-tabs {
 border: 1px solid #ccc;
 background-color: #f1f1f1;
 width: 20%;
 min-height:100%;
}
/* Style the tab content*/
.tabs-content-wrapper{
  padding: 0px 12px;
 border: 1px solid #ccc;
 max-width: 800px;
 width: 80%;
 border-left: none;
 min-height: 500px;
 
}
/* Style the buttons inside the tab */
.wsatc-tabs button {
 display: block;
 background-color: inherit;
 color: black;
 padding: 22px 16px;
 width: 100%;
 border: none;
 outline: none;
 text-align: left;
 cursor: pointer;
 transition: 0.3s;
 font-size: 17px;
 border-bottom: 1px solid #ccc;
}

/* Change background color of buttons on hover */
.wsatc-tabs button:hover {
 background-color: #ddd;
}

/* Create an active/current "tab button" class */
.wsatc-tabs button.active {
 background-color: #ccc;
}

/* Style the tab content */
.tab-content {
  display:none;
}
.tab-content.active{
  display:block;
}


/*===============================
            Elemets style
================================*/

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 25px;

}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#wsatc-submit-opition{
  margin:10px 0;
}
#wsatc-submit-opition .button-primary{
  float: right;
}
/*---input style---*/

.wsatc-input input{
  width: 100% !important;
  padding: 5px 10px;
}
/*---select style---*/
.wsatc-select {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  padding: 0 10px !important;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .2em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.wsatc-select::-ms-expand {
  display: none;
}
.wsatc-select:hover {
  border-color: #888;
}
.wsatc-select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}
.wsatc-select option {
  font-weight:normal;
}
/*--loader--*/

.loader-containter{
  position: absolute;
  height:calc( 100% - 35px);
  width:100%;
  background:rgba( 0,0,0,0.7);
  z-index:15;
  display:none;
}
.loader-containter.display{
  display: block;
}
  .loader{
    width:60px;
    height:60px;
    border-radius:150px;
    border:5px solid #fff;
    border-top-color:rgba(0,0,0,0.3);
    box-sizing:border-box;
    position:absolute;
    top:50%;
          left:50%;
    
    animation:loader 1.2s linear infinite;
    -webkit-animation:loader 1.2s linear infinite;
  }
  @keyframes loader{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
  }
  @-webkit-keyframes loader{
    0%{-webkit-transform:rotate(0deg)}
    100%{-webkit-transform:rotate(360deg)}
  }