.woomotiv-popup{
    padding: 8px 8px 8px 30px;    
}

.woomotiv-close{
    right: auto;
    left: 4px;
}

.woomotiv-image{
    margin-right: 0;
    margin-left: 14px;
}


/** ----------------------------------------------
 Shape
---------------------------------------------- **/

.woomotiv-popup[data-shape="rectangle_2"]{
    padding: 0;
    padding-left: 30px;
}

/*****************/

.woomotiv-popup[data-shape="rounded_2"]{
    padding: 0;
    padding-left: 30px;
}

/*****************/

.woomotiv-popup[data-shape="bordered_2"]{
    padding: 0;
    padding-left: 30px;
}

.woomotiv-popup[data-shape="bordered_2"] .woomotiv-image img{
    border-radius: 0 6px 6px 0;
}