@font-face {
    font-family: 'woomotiv';
    src:
    url('../fonts/woomotiv.ttf?bktjsp') format('truetype'),
    url('../fonts/woomotiv.woff?bktjsp') format('woff'),
    url('../fonts/woomotiv.svg?bktjsp#woomotiv') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class*="wmti-"]{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'woomotiv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wmti-1:before {
    content: "\e9d9";
}

/** ----------------------------------------------
 Popup
---------------------------------------------- **/


.woomotiv-image{
    margin-right: 14px;
}

.woomotiv-image img{
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    border:  0 !important;
    outline: 0 !important;
    display: block !important;
    max-width: 150px !important;
    max-height: 150px !important;
}

.woomotiv-popup > p {
    width: auto;
    padding: 5px 0 !important;
    margin: 0 !important;
    line-height: 1.4;
    font-size: 14px;
}

.woomotiv-link{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none !important;
    cursor: pointer;
}

.woomotiv-close{
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 4px;
    text-align: center;
    line-height: 18px;  
    height: 18px;
    width: 18px;
    cursor: pointer;
    font-size: 19px;
    background: black;
    color: white;
    border-radius: 100%;
}

.woomotiv-close:hover{
    opacity: 0.9;
    box-shadow: 1px 1px 5px rgba( 0,0,0,0.2 );
}

.woomotiv-close.__hidden__{
    display: none !important;
}

.woomotiv-popup[data-shape="rounded"] .woomotiv-close,
.woomotiv-popup[data-shape="rounded_2"] .woomotiv-close{
    -webkit-transform: translate( 0, -50%);
            transform: translate( 0, -50%);
    top: 50%;
}

.woomotiv-popup strong {
    font-weight: bold;
    text-transform: capitalize;
}

.wmt-by,
.wmt-buyer,
.wmt-product,
.wmt-buyer-first-name,
.wmt-buyer-last-name,
.wmt-buyer-username{
    text-transform: capitalize;
}

.wmt-product{
    font-size: 1.05em;
}

.wmt-date,
.wmt-by{
    font-size: 0.9em;
}

.wmt-by span{
    color: orange;
}

.wmt-stars{
    overflow: hidden !important;
    position: relative !important;
    height: 1.618em;
    line-height: 1.618;
    font-size: 13px;
    width: 5.3em;
    font-family: woomotiv !important;
    font-weight: 400;
    display: inline-block;
}

.wmt-stars:before{
    content: '\e9d9\e9d9\e9d9\e9d9\e9d9';
    opacity: 1;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    color: #dbdbdb;
}

.wmt-stars span{
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}

.wmt-stars span:before{
    content: '\e9d9\e9d9\e9d9\e9d9\e9d9';
    top: 0;
    position: absolute;
    left: 0;
    color: #ffd635;
}

/** ----------------------------------------------
 Shape
---------------------------------------------- **/

.woomotiv-popup[data-shape="rectangle_2"]{
    padding: 0;
    padding-right: 30px;
}

/*****************/

.woomotiv-popup[data-shape="rounded"]{
    border-radius: 80px;
}

.woomotiv-popup[data-shape="rounded"] .woomotiv-image img{
    border-radius: 100%;
}

/*****************/

.woomotiv-popup[data-shape="rounded_2"]{
    border-radius: 80px;
    padding: 0;
    padding-right: 30px;
}

.woomotiv-popup[data-shape="rounded_2"] .woomotiv-image img{
    border-radius: 100%;
}

/*****************/

.woomotiv-popup[data-shape="bordered"]{
    border-radius: 6px;
}

.woomotiv-popup[data-shape="bordered"] .woomotiv-image img{
    border-radius: 6px;
}

/*****************/

.woomotiv-popup[data-shape="bordered_2"]{
    border-radius: 6px;
    padding: 0;
    padding-right: 30px;
}

.woomotiv-popup[data-shape="bordered_2"] .woomotiv-image img{
    border-radius: 6px 0 0 6px;
}

/** ----------------------------------------------
 Size
---------------------------------------------- **/

.woomotiv-popup[data-size="small"] > p{
    font-size: 13px;
}

.woomotiv-popup[data-size="default"] .woomotiv-image{
    width: 80px;
}

.woomotiv-popup[data-size="default"] .woomotiv-image img{
    width: 80px !important;
    height: 80px !important;
}

.woomotiv-popup[data-size="small"] .woomotiv-image{
    width: 64px;
}

.woomotiv-popup[data-size="small"] .woomotiv-image img{
    width: 70px !important;
    height: 70px !important;
}


/** ----------------------------------------------
 Positions
---------------------------------------------- **/

/** top center, left & right **/
.woomotiv-popup[data-position="top_right"],
.woomotiv-popup[data-position="top_left"],
.woomotiv-popup[data-position="top_center"]{
    top: 25px;
    bottom: auto;
    right: auto;
    left: 50%;
    -webkit-transform: translate( -50%, 0 );
            transform: translate( -50%, 0 );
}

/** bottom right, left & center **/
.woomotiv-popup[data-position="bottom_right"],
.woomotiv-popup[data-position="bottom_left"],
.woomotiv-popup[data-position="bottom_center"]{
    top: auto;
    bottom: 25px;
    right: auto;
    left: 50%;
    -webkit-transform: translate( -50%, 0 );
            transform: translate( -50%, 0 );
}

/** center left & right **/
.woomotiv-popup[data-position="center_right"],
.woomotiv-popup[data-position="center_left"]{
    top: 50%;
    bottom: auto;
    right: auto;
    left: 50%;
    -webkit-transform: translate( -50%, -50% );
            transform: translate( -50%, -50% );
}


/** ----------------------------------------------
 Animation Buzz Out
---------------------------------------------- **/

@-webkit-keyframes wmt-kf-buzz-out {
    10% {
                -webkit-transform: rotate(2deg) translate( 0, 0 );
                        transform: rotate(2deg) translate( 0, 0 );
    }
    20% {
                -webkit-transform: rotate(-2deg) translate( 0, 0 );
                        transform: rotate(-2deg) translate( 0, 0 );
    }
    30% {
                -webkit-transform: rotate(2deg) translate( 0, 0 );
                        transform: rotate(2deg) translate( 0, 0 );
    }
    40% {
                -webkit-transform: rotate(-2deg) translate( 0, 0 );
                        transform: rotate(-2deg) translate( 0, 0 );
    }
    50% {
                -webkit-transform: rotate(1deg) translate( 0, 0 );
                        transform: rotate(1deg) translate( 0, 0 );
    }
    60% {
                -webkit-transform: rotate(-1deg) translate( 0, 0 );
                        transform: rotate(-1deg) translate( 0, 0 );
    }
    70% {
                -webkit-transform: rotate(1deg) translate( 0, 0 );
                        transform: rotate(1deg) translate( 0, 0 );
    }
    80% {
                -webkit-transform: rotate(-1deg) translate( 0, 0 );
                        transform: rotate(-1deg) translate( 0, 0 );
    }
    90% {
                -webkit-transform: rotate(0) translate( 0, 0 );
                        transform: rotate(0) translate( 0, 0 );
    }
    100% {
                -webkit-transform: rotate(0) translate( 0, 0 );
                        transform: rotate(0) translate( 0, 0 );
    }
}

@keyframes wmt-kf-buzz-out {
    10% {
                -webkit-transform: rotate(2deg) translate( 0, 0 );
                        transform: rotate(2deg) translate( 0, 0 );
    }
    20% {
                -webkit-transform: rotate(-2deg) translate( 0, 0 );
                        transform: rotate(-2deg) translate( 0, 0 );
    }
    30% {
                -webkit-transform: rotate(2deg) translate( 0, 0 );
                        transform: rotate(2deg) translate( 0, 0 );
    }
    40% {
                -webkit-transform: rotate(-2deg) translate( 0, 0 );
                        transform: rotate(-2deg) translate( 0, 0 );
    }
    50% {
                -webkit-transform: rotate(1deg) translate( 0, 0 );
                        transform: rotate(1deg) translate( 0, 0 );
    }
    60% {
                -webkit-transform: rotate(-1deg) translate( 0, 0 );
                        transform: rotate(-1deg) translate( 0, 0 );
    }
    70% {
                -webkit-transform: rotate(1deg) translate( 0, 0 );
                        transform: rotate(1deg) translate( 0, 0 );
    }
    80% {
                -webkit-transform: rotate(-1deg) translate( 0, 0 );
                        transform: rotate(-1deg) translate( 0, 0 );
    }
    90% {
                -webkit-transform: rotate(0) translate( 0, 0 );
                        transform: rotate(0) translate( 0, 0 );
    }
    100% {
                -webkit-transform: rotate(0) translate( 0, 0 );
                        transform: rotate(0) translate( 0, 0 );
    }
}

@-webkit-keyframes wmt-kf-buzz-out-top-center {
    10% {
                -webkit-transform: rotate(2deg) translate( -50%, 0 );
                        transform: rotate(2deg) translate( -50%, 0 );
    }
    20% {
                -webkit-transform: rotate(-2deg) translate( -50%, 0 );
                        transform: rotate(-2deg) translate( -50%, 0 );
    }
    30% {
                -webkit-transform: rotate(2deg) translate( -50%, 0 );
                        transform: rotate(2deg) translate( -50%, 0 );
    }
    40% {
                -webkit-transform: rotate(-2deg) translate( -50%, 0 );
                        transform: rotate(-2deg) translate( -50%, 0 );
    }
    50% {
                -webkit-transform: rotate(1deg) translate( -50%, 0 );
                        transform: rotate(1deg) translate( -50%, 0 );
    }
    60% {
                -webkit-transform: rotate(-1deg) translate( -50%, 0 );
                        transform: rotate(-1deg) translate( -50%, 0 );
    }
    70% {
                -webkit-transform: rotate(1deg) translate( -50%, 0 );
                        transform: rotate(1deg) translate( -50%, 0 );
    }
    80% {
                -webkit-transform: rotate(-1deg) translate( -50%, 0 );
                        transform: rotate(-1deg) translate( -50%, 0 );
    }
    90% {
                -webkit-transform: rotate(0) translate( -50%, 0 );
                        transform: rotate(0) translate( -50%, 0 );
    }
    100% {
                -webkit-transform: rotate(0) translate( -50%, 0 );
                        transform: rotate(0) translate( -50%, 0 );
    }
}

@keyframes wmt-kf-buzz-out-top-center {
    10% {
                -webkit-transform: rotate(2deg) translate( -50%, 0 );
                        transform: rotate(2deg) translate( -50%, 0 );
    }
    20% {
                -webkit-transform: rotate(-2deg) translate( -50%, 0 );
                        transform: rotate(-2deg) translate( -50%, 0 );
    }
    30% {
                -webkit-transform: rotate(2deg) translate( -50%, 0 );
                        transform: rotate(2deg) translate( -50%, 0 );
    }
    40% {
                -webkit-transform: rotate(-2deg) translate( -50%, 0 );
                        transform: rotate(-2deg) translate( -50%, 0 );
    }
    50% {
                -webkit-transform: rotate(1deg) translate( -50%, 0 );
                        transform: rotate(1deg) translate( -50%, 0 );
    }
    60% {
                -webkit-transform: rotate(-1deg) translate( -50%, 0 );
                        transform: rotate(-1deg) translate( -50%, 0 );
    }
    70% {
                -webkit-transform: rotate(1deg) translate( -50%, 0 );
                        transform: rotate(1deg) translate( -50%, 0 );
    }
    80% {
                -webkit-transform: rotate(-1deg) translate( -50%, 0 );
                        transform: rotate(-1deg) translate( -50%, 0 );
    }
    90% {
                -webkit-transform: rotate(0) translate( -50%, 0 );
                        transform: rotate(0) translate( -50%, 0 );
    }
    100% {
                -webkit-transform: rotate(0) translate( -50%, 0 );
                        transform: rotate(0) translate( -50%, 0 );
    }
}

@-webkit-keyframes wmt-kf-buzz-out-center-left {
    10% {
                -webkit-transform: rotate(2deg) translate( -50%, -50% );
                        transform: rotate(2deg) translate( -50%, -50% );
    }
    20% {
                -webkit-transform: rotate(-2deg) translate( -50%, -50% );
                        transform: rotate(-2deg) translate( -50%, -50% );
    }
    30% {
                -webkit-transform: rotate(2deg) translate( -50%, -50% );
                        transform: rotate(2deg) translate( -50%, -50% );
    }
    40% {
                -webkit-transform: rotate(-2deg) translate( -50%, -50% );
                        transform: rotate(-2deg) translate( -50%, -50% );
    }
    50% {
                -webkit-transform: rotate(1deg) translate( -50%, -50% );
                        transform: rotate(1deg) translate( -50%, -50% );
    }
    60% {
                -webkit-transform: rotate(-1deg) translate( -50%, -50% );
                        transform: rotate(-1deg) translate( -50%, -50% );
    }
    70% {
                -webkit-transform: rotate(1deg) translate( -50%, -50% );
                        transform: rotate(1deg) translate( -50%, -50% );
    }
    80% {
                -webkit-transform: rotate(-1deg) translate( -50%, -50% );
                        transform: rotate(-1deg) translate( -50%, -50% );
    }
    90% {
                -webkit-transform: rotate(0) translate( -50%, -50% );
                        transform: rotate(0) translate( -50%, -50% );
    }
    100% {
                -webkit-transform: rotate(0) translate( -50%, -50% );
                        transform: rotate(0) translate( -50%, -50% );
    }
}

@keyframes wmt-kf-buzz-out-center-left {
    10% {
                -webkit-transform: rotate(2deg) translate( -50%, -50% );
                        transform: rotate(2deg) translate( -50%, -50% );
    }
    20% {
                -webkit-transform: rotate(-2deg) translate( -50%, -50% );
                        transform: rotate(-2deg) translate( -50%, -50% );
    }
    30% {
                -webkit-transform: rotate(2deg) translate( -50%, -50% );
                        transform: rotate(2deg) translate( -50%, -50% );
    }
    40% {
                -webkit-transform: rotate(-2deg) translate( -50%, -50% );
                        transform: rotate(-2deg) translate( -50%, -50% );
    }
    50% {
                -webkit-transform: rotate(1deg) translate( -50%, -50% );
                        transform: rotate(1deg) translate( -50%, -50% );
    }
    60% {
                -webkit-transform: rotate(-1deg) translate( -50%, -50% );
                        transform: rotate(-1deg) translate( -50%, -50% );
    }
    70% {
                -webkit-transform: rotate(1deg) translate( -50%, -50% );
                        transform: rotate(1deg) translate( -50%, -50% );
    }
    80% {
                -webkit-transform: rotate(-1deg) translate( -50%, -50% );
                        transform: rotate(-1deg) translate( -50%, -50% );
    }
    90% {
                -webkit-transform: rotate(0) translate( -50%, -50% );
                        transform: rotate(0) translate( -50%, -50% );
    }
    100% {
                -webkit-transform: rotate(0) translate( -50%, -50% );
                        transform: rotate(0) translate( -50%, -50% );
    }
}

.woomotiv-popup[data-animation="buzz-out"]{
    visibility: hidden;
    opacity: 0;
}

/** Play Animation **/
.woomotiv-popup[data-animation="buzz-out"].wmt-current {
    visibility: hidden;
    opacity: 1;
    -webkit-animation-name: wmt-kf-buzz-out;
            animation-name: wmt-kf-buzz-out;
    -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}

.woomotiv-popup[data-animation="buzz-out"][data-position="bottom_left"].wmt-current,
.woomotiv-popup[data-animation="buzz-out"][data-position="bottom_right"].wmt-current,
.woomotiv-popup[data-animation="buzz-out"][data-position="bottom_center"].wmt-current,
.woomotiv-popup[data-animation="buzz-out"][data-position="top_left"].wmt-current,
.woomotiv-popup[data-animation="buzz-out"][data-position="top_right"].wmt-current,
.woomotiv-popup[data-animation="buzz-out"][data-position="top_center"].wmt-current{
    -webkit-animation-name: wmt-kf-buzz-out-top-center;
            animation-name: wmt-kf-buzz-out-top-center;
}

.woomotiv-popup[data-animation="buzz-out"][data-position="center_left"].wmt-current,
.woomotiv-popup[data-animation="buzz-out"][data-position="center_right"].wmt-current{
    -webkit-animation-name: wmt-kf-buzz-out-center-left;
            animation-name: wmt-kf-buzz-out-center-left;
}

/** ----------------------------------------------
 Animation Pop
---------------------------------------------- **/

@-webkit-keyframes wmt-kf-pop {
    0% {
        -webkit-transform: scale(0) translate( -50%, 0 );
                transform: scale(0) translate( -50%, 0 );
    }
    70% {
        -webkit-transform: scale(1.3) translate( -50%, 0 );
                transform: scale(1.3) translate( -50%, 0 );
    }
    100% {
        -webkit-transform: scale(1) translate( -50%, 0 );
                transform: scale(1) translate( -50%, 0 );
    }
}

@keyframes wmt-kf-pop {
    0% {
        -webkit-transform: scale(0) translate( -50%, 0 );
                transform: scale(0) translate( -50%, 0 );
    }
    70% {
        -webkit-transform: scale(1.3) translate( -50%, 0 );
                transform: scale(1.3) translate( -50%, 0 );
    }
    100% {
        -webkit-transform: scale(1) translate( -50%, 0 );
                transform: scale(1) translate( -50%, 0 );
    }
}

@-webkit-keyframes wmt-kf-pop-center-leftright {
    0% {
        -webkit-transform: scale(0) translate( -50%, -50% );
                transform: scale(0) translate( -50%, -50% );
    }
    70% {
        -webkit-transform: scale(1.2) translate( -50%, -50% );
                transform: scale(1.2) translate( -50%, -50% );
    }
    100% {
        -webkit-transform: scale(1) translate( -50%, -50% );
                transform: scale(1) translate( -50%, -50% );
    }
}

@keyframes wmt-kf-pop-center-leftright {
    0% {
        -webkit-transform: scale(0) translate( -50%, -50% );
                transform: scale(0) translate( -50%, -50% );
    }
    70% {
        -webkit-transform: scale(1.2) translate( -50%, -50% );
                transform: scale(1.2) translate( -50%, -50% );
    }
    100% {
        -webkit-transform: scale(1) translate( -50%, -50% );
                transform: scale(1) translate( -50%, -50% );
    }
}

.woomotiv-popup[data-animation="pop"]{
    visibility: hidden;
    opacity: 0;
}

/** Play Animation **/
.woomotiv-popup[data-animation="pop"].wmt-current{
    visibility: hidden;
    opacity: 1;
    -webkit-animation-name: wmt-kf-pop;
            animation-name: wmt-kf-pop;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}

.woomotiv-popup[data-animation="pop"][data-position="center_left"].wmt-current,
.woomotiv-popup[data-animation="pop"][data-position="center_right"].wmt-current{
    -webkit-animation-name: wmt-kf-pop-center-leftright;
            animation-name: wmt-kf-pop-center-leftright;
}

/** ----------------------------------------------
 Animation Wobble Skew
---------------------------------------------- **/

@-webkit-keyframes wmt-kf-wobble-skew {
    16.65% {
        -webkit-transform: skew(-12deg) translate( -50%, 0 );
                transform: skew(-12deg) translate( -50%, 0 );
    }
    33.3% {
        -webkit-transform: skew(10deg) translate( -50%, 0 );
                transform: skew(10deg) translate( -50%, 0 );
    }
    49.95% {
        -webkit-transform: skew(-6deg) translate( -50%, 0 );
                transform: skew(-6deg) translate( -50%, 0 );
    }
    66.6% {
        -webkit-transform: skew(4deg) translate( -50%, 0 );
                transform: skew(4deg) translate( -50%, 0 );
    }
    83.25% {
        -webkit-transform: skew(-2deg) translate( -50%, 0 );
                transform: skew(-2deg) translate( -50%, 0 );
    }
    100% {
        -webkit-transform: skew(0) translate( -50%, 0 );
                transform: skew(0) translate( -50%, 0 );
    }
}

@keyframes wmt-kf-wobble-skew {
    16.65% {
        -webkit-transform: skew(-12deg) translate( -50%, 0 );
                transform: skew(-12deg) translate( -50%, 0 );
    }
    33.3% {
        -webkit-transform: skew(10deg) translate( -50%, 0 );
                transform: skew(10deg) translate( -50%, 0 );
    }
    49.95% {
        -webkit-transform: skew(-6deg) translate( -50%, 0 );
                transform: skew(-6deg) translate( -50%, 0 );
    }
    66.6% {
        -webkit-transform: skew(4deg) translate( -50%, 0 );
                transform: skew(4deg) translate( -50%, 0 );
    }
    83.25% {
        -webkit-transform: skew(-2deg) translate( -50%, 0 );
                transform: skew(-2deg) translate( -50%, 0 );
    }
    100% {
        -webkit-transform: skew(0) translate( -50%, 0 );
                transform: skew(0) translate( -50%, 0 );
    }
}

@-webkit-keyframes wmt-kf-wobble-skew-center-leftright {
    16.65% {
        -webkit-transform: skew(-12deg) translate( -50%, -50% );
                transform: skew(-12deg) translate( -50%, -50% );
    }
    33.3% {
        -webkit-transform: skew(10deg) translate( -50%, -50% );
                transform: skew(10deg) translate( -50%, -50% );
    }
    49.95% {
        -webkit-transform: skew(-6deg) translate( -50%, -50% );
                transform: skew(-6deg) translate( -50%, -50% );
    }
    66.6% {
        -webkit-transform: skew(4deg) translate( -50%, -50% );
                transform: skew(4deg) translate( -50%, -50% );
    }
    83.25% {
        -webkit-transform: skew(-2deg) translate( -50%, -50% );
                transform: skew(-2deg) translate( -50%, -50% );
    }
    100% {
        -webkit-transform: skew(0) translate( -50%, -50% );
                transform: skew(0) translate( -50%, -50% );
    }
}

@keyframes wmt-kf-wobble-skew-center-leftright {
    16.65% {
        -webkit-transform: skew(-12deg) translate( -50%, -50% );
                transform: skew(-12deg) translate( -50%, -50% );
    }
    33.3% {
        -webkit-transform: skew(10deg) translate( -50%, -50% );
                transform: skew(10deg) translate( -50%, -50% );
    }
    49.95% {
        -webkit-transform: skew(-6deg) translate( -50%, -50% );
                transform: skew(-6deg) translate( -50%, -50% );
    }
    66.6% {
        -webkit-transform: skew(4deg) translate( -50%, -50% );
                transform: skew(4deg) translate( -50%, -50% );
    }
    83.25% {
        -webkit-transform: skew(-2deg) translate( -50%, -50% );
                transform: skew(-2deg) translate( -50%, -50% );
    }
    100% {
        -webkit-transform: skew(0) translate( -50%, -50% );
                transform: skew(0) translate( -50%, -50% );
    }
}

.woomotiv-popup[data-animation="wobble-skew"]{
    visibility: hidden;
    opacity: 0;
}

/** Play Animation **/
.woomotiv-popup[data-animation="wobble-skew"].wmt-current{
    visibility: hidden;
    opacity: 1;
    -webkit-animation-name: wmt-kf-wobble-skew;
            animation-name: wmt-kf-wobble-skew;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}

.woomotiv-popup[data-animation="wobble-skew"][data-position="center_left"].wmt-current,
.woomotiv-popup[data-animation="wobble-skew"][data-position="center_right"].wmt-current{
    -webkit-animation-name: wmt-kf-wobble-skew-center-leftright;
            animation-name: wmt-kf-wobble-skew-center-leftright;
}


/** ----------------------------------------------
 Animation Fade
---------------------------------------------- **/
.woomotiv-popup[data-animation="fade"]{
    visibility: hidden;
    opacity: 0;
}

.woomotiv-popup[data-animation="fade"].wmt-current{
    visibility: hidden;
    opacity: 1;
}


/** ----------------------------------------------
 Animation Slide Up
---------------------------------------------- **/
.woomotiv-popup[data-animation="slideup"]{
    -webkit-transform: translate( -50%, 70px);
            transform: translate( -50%, 70px);
    visibility: hidden;
    opacity: 0;
}

.woomotiv-popup[data-animation="slideup"].wmt-current{
    -webkit-transform: translate( -50%, 0 );
            transform: translate( -50%, 0 );
    visibility: hidden;
    opacity: 1;
}

.woomotiv-popup[data-animation="slideup"][data-position="center_right"],
.woomotiv-popup[data-animation="slideup"][data-position="center_left"]{
    -webkit-transform: translate( -50%, -1%);
            transform: translate( -50%, -1%);
}

.woomotiv-popup[data-animation="slideup"][data-position="center_left"].wmt-current,
.woomotiv-popup[data-animation="slideup"][data-position="center_right"].wmt-current{
            -webkit-transform: translate( -50%, -50% );
                    transform: translate( -50%, -50% );
}


/** ----------------------------------------------
 Animation Slide Down
---------------------------------------------- **/
.woomotiv-popup[data-animation="slidedown"]{
    -webkit-transform: translate( -50%, -70px);
            transform: translate( -50%, -70px);
    visibility: hidden;
    opacity: 0;
}

.woomotiv-popup[data-animation="slidedown"].wmt-current{
    -webkit-transform: translate( -50%, 0 );
            transform: translate( -50%, 0 );
    visibility: hidden;
    opacity: 1;
}

.woomotiv-popup[data-animation="slidedown"][data-position="center_right"],
.woomotiv-popup[data-animation="slidedown"][data-position="center_left"]{
    -webkit-transform: translate( -50%, -1% );
            transform: translate( -50%, -1% );
}

.woomotiv-popup[data-animation="slidedown"][data-position="center_right"].wmt-current,
.woomotiv-popup[data-animation="slidedown"][data-position="center_left"].wmt-current{
    -webkit-transform: translate( -50%, -50% );
            transform: translate( -50%, -50% );
}


/** ----------------------------------------------
 Animation Slide Left
---------------------------------------------- **/
.woomotiv-popup[data-animation="slideleft"]{
    -webkit-transform: translate( 70px, 0 );
            transform: translate( 70px, 0 );
    visibility: hidden;
    opacity: 0;
}

.woomotiv-popup[data-animation="slideleft"].wmt-current{
    -webkit-transform: translate( -50%, 0 );
            transform: translate( -50%, 0 );
    visibility: hidden;
    opacity: 1;
}

.woomotiv-popup[data-animation="slideleft"][data-position="center_right"],
.woomotiv-popup[data-animation="slideleft"][data-position="center_left"]{
    -webkit-transform: translate( 70px, -50% );
            transform: translate( 70px, -50% );
}

.woomotiv-popup[data-animation="slideleft"][data-position="center_right"].wmt-current,
.woomotiv-popup[data-animation="slideleft"][data-position="center_left"].wmt-current{
    -webkit-transform: translate( -50%, -50% );
            transform: translate( -50%, -50% );
}

/** ----------------------------------------------
 Animation Slide Right
---------------------------------------------- **/
.woomotiv-popup[data-animation="slideright"]{
    -webkit-transform: translate( -100%, 0 );
            transform: translate( -100%, 0 );
    visibility: hidden;
    opacity: 0;
}

.woomotiv-popup[data-animation="slideright"].wmt-current{
    -webkit-transform: translate( -50%, 0 );
            transform: translate( -50%, 0 );
    visibility: hidden;
    opacity: 1;
}

.woomotiv-popup[data-animation="slideright"][data-position="center_right"],
.woomotiv-popup[data-animation="slideright"][data-position="center_left"]{
    -webkit-transform: translate( -100%, -50% );
            transform: translate( -100%, -50% );
}

.woomotiv-popup[data-animation="slideright"][data-position="center_right"].wmt-current,
.woomotiv-popup[data-animation="slideright"][data-position="center_left"].wmt-current{
    -webkit-transform: translate( -50%, -50% );
            transform: translate( -50%, -50% );
}


/** ----------------------------------------------
 Responsive ( Breakpoints )
---------------------------------------------- **/
@media screen and ( min-width: 375px ){

    /** top left **/
    .woomotiv-popup[data-position="top_left"]{
        top: 25px;
        bottom: auto;
        left: 25px;
        right: auto;
        -webkit-transform: translate( 0, 0 );
                transform: translate( 0, 0 );
    }

    /** top right **/
    .woomotiv-popup[data-position="top_right"]{
        top: 25px;
        bottom: auto;
        right: 25px;
        left: auto;
        -webkit-transform: translate( 0, 0 );
                transform: translate( 0, 0 );
    }

    /** bottom left **/
    .woomotiv-popup[data-position="bottom_left"]{
        top: auto;
        bottom: 25px;
        left: 25px;
        right: auto;
        -webkit-transform: translate( 0, 0 );
                transform: translate( 0, 0 );
    }

    /** bottom right **/
    .woomotiv-popup[data-position="bottom_right"]{
        top: auto;
        bottom: 25px;
        right: 25px;
        left: auto;
        -webkit-transform: translate( 0, 0 );
                transform: translate( 0, 0 );
    }

    /** center left & right **/
    .woomotiv-popup[data-position="center_left"]{
        left: 25px;
        right: auto;
    }

    .woomotiv-popup[data-position="center_right"]{
        left: auto;
        right: 25px;
    }

    .woomotiv-popup[data-position="center_left"],
    .woomotiv-popup[data-position="center_right"]{
        -webkit-transform: translate( 0, -50% );
                transform: translate( 0, -50% );    
    }
    
    /** Buzz Out **/

    @-webkit-keyframes wmt-kf-buzz-out-center-left {
        10% {
            -webkit-transform: rotate(2deg) translate( 0, -50% );
                    transform: rotate(2deg) translate( 0, -50% );
        }
        20% {
            -webkit-transform: rotate(-2deg) translate( 0, -50% );
                    transform: rotate(-2deg) translate( 0, -50% );
        }
        30% {
            -webkit-transform: rotate(2deg) translate( 0, -50% );
                    transform: rotate(2deg) translate( 0, -50% );
        }
        40% {
            -webkit-transform: rotate(-2deg) translate( 0, -50% );
                    transform: rotate(-2deg) translate( 0, -50% );
        }
        50% {
            -webkit-transform: rotate(1deg) translate( 0, -50% );
                    transform: rotate(1deg) translate( 0, -50% );
        }
        60% {
            -webkit-transform: rotate(-1deg) translate( 0, -50% );
                    transform: rotate(-1deg) translate( 0, -50% );
        }
        70% {
            -webkit-transform: rotate(1deg) translate( 0, -50% );
                    transform: rotate(1deg) translate( 0, -50% );
        }
        80% {
            -webkit-transform: rotate(-1deg) translate( 0, -50% );
                    transform: rotate(-1deg) translate( 0, -50% );
        }
        90% {
            -webkit-transform: rotate(0) translate( 0, -50% );
                    transform: rotate(0) translate( 0, -50% );
        }
        100% {
            -webkit-transform: rotate(0) translate( 0, -50% );
                    transform: rotate(0) translate( 0, -50% );
        }
    }

    @keyframes wmt-kf-buzz-out-center-left {
        10% {
            -webkit-transform: rotate(2deg) translate( 0, -50% );
                    transform: rotate(2deg) translate( 0, -50% );
        }
        20% {
            -webkit-transform: rotate(-2deg) translate( 0, -50% );
                    transform: rotate(-2deg) translate( 0, -50% );
        }
        30% {
            -webkit-transform: rotate(2deg) translate( 0, -50% );
                    transform: rotate(2deg) translate( 0, -50% );
        }
        40% {
            -webkit-transform: rotate(-2deg) translate( 0, -50% );
                    transform: rotate(-2deg) translate( 0, -50% );
        }
        50% {
            -webkit-transform: rotate(1deg) translate( 0, -50% );
                    transform: rotate(1deg) translate( 0, -50% );
        }
        60% {
            -webkit-transform: rotate(-1deg) translate( 0, -50% );
                    transform: rotate(-1deg) translate( 0, -50% );
        }
        70% {
            -webkit-transform: rotate(1deg) translate( 0, -50% );
                    transform: rotate(1deg) translate( 0, -50% );
        }
        80% {
            -webkit-transform: rotate(-1deg) translate( 0, -50% );
                    transform: rotate(-1deg) translate( 0, -50% );
        }
        90% {
            -webkit-transform: rotate(0) translate( 0, -50% );
                    transform: rotate(0) translate( 0, -50% );
        }
        100% {
            -webkit-transform: rotate(0) translate( 0, -50% );
                    transform: rotate(0) translate( 0, -50% );
        }
    }

    .woomotiv-popup[data-animation="buzz-out"][data-position="center_left"]{
        right: auto;
        left: 25px;
        -webkit-transform: translate( 0, -50% );
                transform: translate( 0, -50% );
    }

    .woomotiv-popup[data-animation="buzz-out"][data-position="center_right"]{
        right: 25px;
        left: auto;
        -webkit-transform: translate( 0, -50% );
                transform: translate( 0, -50% );
    }

    .woomotiv-popup[data-animation="buzz-out"][data-position="top_left"],
    .woomotiv-popup[data-animation="buzz-out"][data-position="bottom_left"]{
        right: auto;
        left: 25px;
        -webkit-transform: translate( 0, 0 );
                transform: translate( 0, 0 );
    }

    .woomotiv-popup[data-animation="buzz-out"][data-position="top_right"],
    .woomotiv-popup[data-animation="buzz-out"][data-position="bottom_right"]{
        right: 25px;
        left: auto;
        -webkit-transform: translate( 0, 0 );
                transform: translate( 0, 0 );
    }
 
    .woomotiv-popup[data-animation="buzz-out"][data-position="top_left"].wmt-current,
    .woomotiv-popup[data-animation="buzz-out"][data-position="top_right"].wmt-current,
    .woomotiv-popup[data-animation="buzz-out"][data-position="bottom_right"].wmt-current,
    .woomotiv-popup[data-animation="buzz-out"][data-position="bottom_left"].wmt-current{
        -webkit-animation-name: wmt-kf-buzz-out;
                animation-name: wmt-kf-buzz-out;
    }

    /** POP **/
    @-webkit-keyframes wmt-kf-pop {
        0% {
            -webkit-transform: scale(0) translate( 0, 0 );
                    transform: scale(0) translate( 0, 0 );
        }
        70% {
            -webkit-transform: scale(1.3) translate( 0, 0 );
                    transform: scale(1.3) translate( 0, 0 );
        }
        100% {
            -webkit-transform: scale(1) translate( 0, 0 );
                    transform: scale(1) translate( 0, 0 );
        }
    }
    @keyframes wmt-kf-pop {
        0% {
            -webkit-transform: scale(0) translate( 0, 0 );
                    transform: scale(0) translate( 0, 0 );
        }
        70% {
            -webkit-transform: scale(1.3) translate( 0, 0 );
                    transform: scale(1.3) translate( 0, 0 );
        }
        100% {
            -webkit-transform: scale(1) translate( 0, 0 );
                    transform: scale(1) translate( 0, 0 );
        }
    }

    @-webkit-keyframes wmt-kf-pop-center-topbottom {
        0% {
            -webkit-transform: scale(0) translate( -50%, 0 );
                    transform: scale(0) translate( -50%, 0 );
        }
        70% {
            -webkit-transform: scale(1.3) translate( -50%, 0 );
                    transform: scale(1.3) translate( -50%, 0 );
        }
        100% {
            -webkit-transform: scale(1) translate( -50%, 0 );
                    transform: scale(1) translate( -50%, 0 );
        }
    }

    @keyframes wmt-kf-pop-center-topbottom {
        0% {
            -webkit-transform: scale(0) translate( -50%, 0 );
                    transform: scale(0) translate( -50%, 0 );
        }
        70% {
            -webkit-transform: scale(1.3) translate( -50%, 0 );
                    transform: scale(1.3) translate( -50%, 0 );
        }
        100% {
            -webkit-transform: scale(1) translate( -50%, 0 );
                    transform: scale(1) translate( -50%, 0 );
        }
    }

    @-webkit-keyframes wmt-kf-pop-center-leftright {
        0% {
            -webkit-transform: scale(0) translate( 0, -50% );
                    transform: scale(0) translate( 0, -50% );
        }
        70% {
            -webkit-transform: scale(1.2) translate( 0, -50% );
                    transform: scale(1.2) translate( 0, -50% );
        }
        100% {
            -webkit-transform: scale(1) translate( 0, -50% );
                    transform: scale(1) translate( 0, -50% );
        }
    }

    @keyframes wmt-kf-pop-center-leftright {
        0% {
            -webkit-transform: scale(0) translate( 0, -50% );
                    transform: scale(0) translate( 0, -50% );
        }
        70% {
            -webkit-transform: scale(1.2) translate( 0, -50% );
                    transform: scale(1.2) translate( 0, -50% );
        }
        100% {
            -webkit-transform: scale(1) translate( 0, -50% );
                    transform: scale(1) translate( 0, -50% );
        }
    }

    .woomotiv-popup[data-animation="pop"][data-position="top_center"].wmt-current,
    .woomotiv-popup[data-animation="pop"][data-position="bottom_center"].wmt-current{
        -webkit-animation-name: wmt-kf-pop-center-topbottom;
                animation-name: wmt-kf-pop-center-topbottom;
    }

    .woomotiv-popup[data-animation="pop"][data-position="center_left"].wmt-current,
    .woomotiv-popup[data-animation="pop"][data-position="center_right"].wmt-current{
        -webkit-animation-name: wmt-kf-pop-center-leftright;
                animation-name: wmt-kf-pop-center-leftright;
    }

    /** Wobble skew **/

    @-webkit-keyframes wmt-kf-wobble-skew {
        16.65% {
            -webkit-transform: skew(-12deg) translate( 0, 0 );
                    transform: skew(-12deg) translate( 0, 0 );
        }
        33.3% {
            -webkit-transform: skew(10deg) translate( 0, 0 );
                    transform: skew(10deg) translate( 0, 0 );
        }
        49.95% {
            -webkit-transform: skew(-6deg) translate( 0, 0 );
                    transform: skew(-6deg) translate( 0, 0 );
        }
        66.6% {
            -webkit-transform: skew(4deg) translate( 0, 0 );
                    transform: skew(4deg) translate( 0, 0 );
        }
        83.25% {
            -webkit-transform: skew(-2deg) translate( 0, 0 );
                    transform: skew(-2deg) translate( 0, 0 );
        }
        100% {
            -webkit-transform: skew(0) translate( 0, 0 );
                    transform: skew(0) translate( 0, 0 );
        }
    }

    @keyframes wmt-kf-wobble-skew {
        16.65% {
            -webkit-transform: skew(-12deg) translate( 0, 0 );
                    transform: skew(-12deg) translate( 0, 0 );
        }
        33.3% {
            -webkit-transform: skew(10deg) translate( 0, 0 );
                    transform: skew(10deg) translate( 0, 0 );
        }
        49.95% {
            -webkit-transform: skew(-6deg) translate( 0, 0 );
                    transform: skew(-6deg) translate( 0, 0 );
        }
        66.6% {
            -webkit-transform: skew(4deg) translate( 0, 0 );
                    transform: skew(4deg) translate( 0, 0 );
        }
        83.25% {
            -webkit-transform: skew(-2deg) translate( 0, 0 );
                    transform: skew(-2deg) translate( 0, 0 );
        }
        100% {
            -webkit-transform: skew(0) translate( 0, 0 );
                    transform: skew(0) translate( 0, 0 );
        }
    }

    @-webkit-keyframes wmt-kf-wobble-skew-center-topbottom {
        16.65% {
            -webkit-transform: skew(-12deg) translate( -50%, 0 );
                    transform: skew(-12deg) translate( -50%, 0 );
        }
        33.3% {
            -webkit-transform: skew(10deg) translate( -50%, 0 );
                    transform: skew(10deg) translate( -50%, 0 );
        }
        49.95% {
            -webkit-transform: skew(-6deg) translate( -50%, 0 );
                    transform: skew(-6deg) translate( -50%, 0 );
        }
        66.6% {
            -webkit-transform: skew(4deg) translate( -50%, 0 );
                    transform: skew(4deg) translate( -50%, 0 );
        }
        83.25% {
            -webkit-transform: skew(-2deg) translate( -50%, 0 );
                    transform: skew(-2deg) translate( -50%, 0 );
        }
        100% {
            -webkit-transform: skew(0) translate( -50%, 0 );
                    transform: skew(0) translate( -50%, 0 );
        }
    }

    @keyframes wmt-kf-wobble-skew-center-topbottom {
        16.65% {
            -webkit-transform: skew(-12deg) translate( -50%, 0 );
                    transform: skew(-12deg) translate( -50%, 0 );
        }
        33.3% {
            -webkit-transform: skew(10deg) translate( -50%, 0 );
                    transform: skew(10deg) translate( -50%, 0 );
        }
        49.95% {
            -webkit-transform: skew(-6deg) translate( -50%, 0 );
                    transform: skew(-6deg) translate( -50%, 0 );
        }
        66.6% {
            -webkit-transform: skew(4deg) translate( -50%, 0 );
                    transform: skew(4deg) translate( -50%, 0 );
        }
        83.25% {
            -webkit-transform: skew(-2deg) translate( -50%, 0 );
                    transform: skew(-2deg) translate( -50%, 0 );
        }
        100% {
            -webkit-transform: skew(0) translate( -50%, 0 );
                    transform: skew(0) translate( -50%, 0 );
        }
    }

    @-webkit-keyframes wmt-kf-wobble-skew-center-leftright {
        16.65% {
            -webkit-transform: skew(-12deg) translate( 0, -50% );
                    transform: skew(-12deg) translate( 0, -50% );
        }
        33.3% {
            -webkit-transform: skew(10deg) translate( 0, -50% );
                    transform: skew(10deg) translate( 0, -50% );
        }
        49.95% {
            -webkit-transform: skew(-6deg) translate( 0, -50% );
                    transform: skew(-6deg) translate( 0, -50% );
        }
        66.6% {
            -webkit-transform: skew(4deg) translate( 0, -50% );
                    transform: skew(4deg) translate( 0, -50% );
        }
        83.25% {
            -webkit-transform: skew(-2deg) translate( 0, -50% );
                    transform: skew(-2deg) translate( 0, -50% );
        }
        100% {
            -webkit-transform: skew(0) translate( 0, -50% );
                    transform: skew(0) translate( 0, -50% );
        }
    }

    @keyframes wmt-kf-wobble-skew-center-leftright {
        16.65% {
            -webkit-transform: skew(-12deg) translate( 0, -50% );
                    transform: skew(-12deg) translate( 0, -50% );
        }
        33.3% {
            -webkit-transform: skew(10deg) translate( 0, -50% );
                    transform: skew(10deg) translate( 0, -50% );
        }
        49.95% {
            -webkit-transform: skew(-6deg) translate( 0, -50% );
                    transform: skew(-6deg) translate( 0, -50% );
        }
        66.6% {
            -webkit-transform: skew(4deg) translate( 0, -50% );
                    transform: skew(4deg) translate( 0, -50% );
        }
        83.25% {
            -webkit-transform: skew(-2deg) translate( 0, -50% );
                    transform: skew(-2deg) translate( 0, -50% );
        }
        100% {
            -webkit-transform: skew(0) translate( 0, -50% );
                    transform: skew(0) translate( 0, -50% );
        }
    }

    .woomotiv-popup[data-animation="wobble-skew"][data-position="top_center"].wmt-current,
    .woomotiv-popup[data-animation="wobble-skew"][data-position="bottom_center"].wmt-current{
        -webkit-animation-name: wmt-kf-wobble-skew-center-topbottom;
                animation-name: wmt-kf-wobble-skew-center-topbottom;
    }

    /** Slide Up **/
    .woomotiv-popup[data-animation="slideup"]{
        -webkit-transform: translate( 0, 70px);
                transform: translate( 0, 70px);
    }

    .woomotiv-popup[data-animation="slideup"].wmt-current{
        -webkit-transform: translate( 0, 0 );
                transform: translate( 0, 0 );
    }

    .woomotiv-popup[data-animation="slideup"][data-position="bottom_center"],
    .woomotiv-popup[data-animation="slideup"][data-position="top_center"]{
        -webkit-transform: translate( -50%, 70px);
                transform: translate( -50%, 70px);    
    }

    .woomotiv-popup[data-animation="slideup"][data-position="bottom_center"].wmt-current,
    .woomotiv-popup[data-animation="slideup"][data-position="top_center"].wmt-current{
        -webkit-transform: translate( -50%, 0 );
                transform: translate( -50%, 0 );
    }

    .woomotiv-popup[data-animation="slideup"][data-position="center_right"],
    .woomotiv-popup[data-animation="slideup"][data-position="center_left"]{
        -webkit-transform: translate( 0, -1%);
                transform: translate( 0, -1%);
    }
    
    .woomotiv-popup[data-animation="slideup"][data-position="center_left"].wmt-current,
    .woomotiv-popup[data-animation="slideup"][data-position="center_right"].wmt-current{
                -webkit-transform: translate( 0, -50% );
                        transform: translate( 0, -50% );
    }

    /** Slide Down **/
    .woomotiv-popup[data-animation="slidedown"]{
        -webkit-transform: translate( 0, -70px);
                transform: translate( 0, -70px);
    }
    
    .woomotiv-popup[data-animation="slidedown"].wmt-current{
        -webkit-transform: translate( 0, 0 );
                transform: translate( 0, 0 );
    }
    
    .woomotiv-popup[data-animation="slidedown"][data-position="top_center"],
    .woomotiv-popup[data-animation="slidedown"][data-position="bottom_center"]{
        -webkit-transform: translate( -50%, -70px );
                transform: translate( -50%, -70px );
    }

    .woomotiv-popup[data-animation="slidedown"][data-position="top_center"].wmt-current,
    .woomotiv-popup[data-animation="slidedown"][data-position="bottom_center"].wmt-current{
        -webkit-transform: translate( -50%, 0 );
                transform: translate( -50%, 0 );
    }

    .woomotiv-popup[data-animation="slidedown"][data-position="center_left"],
    .woomotiv-popup[data-animation="slidedown"][data-position="center_right"]{
        -webkit-transform: translate( 0, -1% );
                transform: translate( 0, -1% );
    }

    .woomotiv-popup[data-animation="slidedown"][data-position="center_left"].wmt-current,
    .woomotiv-popup[data-animation="slidedown"][data-position="center_right"].wmt-current{
        -webkit-transform: translate( 0, -50% );
                transform: translate( 0, -50% );
    }

    /** Slide Left **/
    .woomotiv-popup[data-animation="slideleft"]{
        -webkit-transform: translate( 70px, 0 );
                transform: translate( 70px, 0 );
    }
    
    .woomotiv-popup[data-animation="slideleft"].wmt-current{
        -webkit-transform: translate( 0, 0 );
                transform: translate( 0, 0 );
    }

    .woomotiv-popup[data-animation="slideleft"][data-position="bottom_center"],
    .woomotiv-popup[data-animation="slideleft"][data-position="top_center"]{
        -webkit-transform: translate( 70px, 0 );
                transform: translate( 70px, 0 );
    }
    
    .woomotiv-popup[data-animation="slideleft"][data-position="bottom_center"].wmt-current,
    .woomotiv-popup[data-animation="slideleft"][data-position="top_center"].wmt-current{
        -webkit-transform: translate( -50%, 0 );
                transform: translate( -50%, 0 );
    }

    .woomotiv-popup[data-animation="slideleft"][data-position="center_left"],
    .woomotiv-popup[data-animation="slideleft"][data-position="center_right"]{
        -webkit-transform: translate( 70px, -50% );
                transform: translate( 70px, -50% );
    }
    
    .woomotiv-popup[data-animation="slideleft"][data-position="center_left"].wmt-current,
    .woomotiv-popup[data-animation="slideleft"][data-position="center_right"].wmt-current{
        -webkit-transform: translate( 0, -50% );
                transform: translate( 0, -50% );
    }

    /** Slide Right **/
    .woomotiv-popup[data-animation="slideright"]{
        -webkit-transform: translate( -100%, 0 );
                transform: translate( -100%, 0 );
    }
    
    .woomotiv-popup[data-animation="slideright"].wmt-current{
        -webkit-transform: translate( 0, 0 );
                transform: translate( 0, 0 );
    }

    .woomotiv-popup[data-animation="slideright"][data-position="bottom_center"],
    .woomotiv-popup[data-animation="slideright"][data-position="top_center"]{
        -webkit-transform: translate( -100%, 0 );
                transform: translate( -100%, 0 );
    }
    
    .woomotiv-popup[data-animation="slideright"][data-position="bottom_center"].wmt-current,
    .woomotiv-popup[data-animation="slideright"][data-position="top_center"].wmt-current{
        -webkit-transform: translate( -50%, 0 );
                transform: translate( -50%, 0 );
    }

    .woomotiv-popup[data-animation="slideright"][data-position="center_left"],
    .woomotiv-popup[data-animation="slideright"][data-position="center_right"]{
        -webkit-transform: translate( -100%, -50% );
                transform: translate( -100%, -50% );
    }
    
    .woomotiv-popup[data-animation="slideright"][data-position="center_left"].wmt-current,
    .woomotiv-popup[data-animation="slideright"][data-position="center_right"].wmt-current{
        -webkit-transform: translate( 0, -50% );
                transform: translate( 0, -50% );
    }

    /*/////////////////////////////////*/

}

@media screen and ( max-width: 576px ){

    .woomotiv-popup[data-hideonmobile="1"]{
        display: none !important;
    }

}

.woomotiv-popup{
    display: none;
}